.project-container {
    margin-bottom: 40px;
    width: 64.9vw;
}

.project-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-languages {
    display: flex;
    align-items: center;
}

.project-languages>div {
    margin-left: 40px;
}

.project-body {
    display: flex;
}

.project-details {
    min-width: 320px;
    text-align: right;
}

.project-details > div {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.project-readme {
    max-height: 700px;
    overflow-y: auto;
    margin-right: 20px;
    width: 100%;
}

.project-readme:first-child>h1 {
    display: none;
}