.projects-spinner {
    color: var(--dark-blue);
}

.scroll-menu-arrow {
    line-height: 0;
    font-size: 64px;
    cursor: pointer;
    color: var(--dark-blue);
    position: absolute;
    margin-top: -10px;
}

.scroll-menu-arrow:hover {
    color: var(--battleship-background);
}

.project-item {
    vertical-align: top;
}

.menu-container {
    padding-right: 105.5px;
    padding-left: 105.5px;
}

@media (max-width: 575px) {
    .menu-container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .project-item {
        max-width: calc(100vw - 145px);
        min-width: calc(100vw - 145px);
    }
}