
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.content-wrap {
    flex: 1 0 auto;  
  }

.break {
  flex-basis: 100%;
  height: 0;
}
  
.footer-container {
    flex-shrink: 0;
    color: #D0826F;
    background-color:#DFE0E0;   
    display: flex; 
    justify-content:space-evenly;  
    flex-wrap: wrap; 
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 10px;
  }

.social-container{
  display: flex;
  font-size: xx-large;

}
.contact-container{
  margin-top: 8px;

}

a{
  color: #D0826F;
  
}
a:hover{
  text-decoration: none;
  color: #74392a;
}

.footer-content-title{
  font-size: x-large;
  color: #D0826F;
  border-bottom: 1px solid #D0826F ;
}

.footer-copyright{
  margin-top: 25px;
}

.jumbotron {
    background-color: #D0826F;
}

